<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1: September 11, 2023</h3>
    <h4>
      Lessons 
      <a href=""> Introduction to Data Visualization</a> (Part I) 
    </h4>
    <table class="table table-striped">
      <tr>
        <td>Before</td>
        <td><a href="https://0dio855mq5o.typeform.com/to/sa2IzegH" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr> 
        <td>09:00</td>  <td>Start - Introduction to the workshop, instructor, helpers, and code of conduct</td> 
      </tr>
      <tr> 
        <td>09:15</td>  <td>Introduction to Data Visualization</td> </tr>
      </tr>
      <tr> 
        <td>10:00</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>10:15</td>  <td>Introduction to Data Visualization (continued)</td> 
      </tr>
      <tr> 
        <td>11:00</td>  <td>Break</td>
      </tr>
      <tr> 
        <td>11:15</td>  <td>Introduction to Data Visualization (continued)</td> 
      </tr>
      <tr> 
        <td>12:00</td>  <td>Break</td>
      </tr>
      <tr> 
        <td>12:15</td>  <td>Introduction to Data Visualization (continued)</td> 
      </tr>
      <tr> 
        <td>13:00</td>  <td>Finish day one</td> 
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2: September 12, 2023</h3>
    <h4>
      Lessons 
      <a href=""> Data Visualization in Python</a> (Part I) 
    </h4>
    <table class="table table-striped">
     <tr>
       <td>09:00</td>  <td><a href="">Data Visualization in Python</a></td>
      </tr>
      <tr> 
        <td>09:45</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>10:00</td>  <td>Data Visualization in Python (continued)</td> 
      </tr>
      <tr> 
        <td>10:45</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>11:00</td>  <td>Data Visualization in Python (continued)</td> 
      </tr>
      <tr> 
        <td>11:45</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>12:00</td>  <td>Data Visualization in Python (continued)</td> 
      </tr>
      <tr> 
        <td>13:00</td>  <td>Finish day two</td> 
      </tr>
     </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3: September 13, 2023</h3>
    <h4>
      Lessons 
      <a href=""> Data Visualization in Python</a> (Part II) 
    </h4>
    <table class="table table-striped">
     <tr>
       <td>09:00</td>  <td><a href="">Data Visualization in Python</a></td>
      </tr>
      <tr> 
        <td>09:45</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>10:00</td>  <td>Data Visualization in Python (continued)</td> 
      </tr>
      <tr> 
        <td>10:45</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>11:00</td>  <td>Data Visualization in Python (continued)</td> 
      </tr>
      <tr> 
        <td>11:45</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>12:00</td>  <td>Data Visualization in Python (continued)</td> 
      </tr>
      <tr> 
        <td>13:00</td>  <td>Finish day three</td> 
      </tr>
      <tr>               <!-- row 3   -->
        <td>End</td>
        <td><a href="https://0dio855mq5o.typeform.com/to/rBbd5ODK" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
