<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1: September 11, 2023</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before</td>
        <td><a href="https://forms.gle/DzFyGWvx4pRXoRdE9" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr> 
        <td>9:00</td>  <td>Start - Introduction to the workshop, instructors, helpers, and code of conduct</td> 
      </tr>
      <tr> 
        <td>09:30</td>  <td><a href="https://carpentries-incubator.github.io/intro-data-viz/">Introduction to Data Visualization</a></td> 
      </tr>
      <tr> 
        <td>10:30</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>10:45</td>  <td><a href="https://datacarpentry.org/python-ecology-lesson/02-starting-with-data.html">Getting Started with Data: Collection and Cleaning</a></td> 
      </tr>
      <tr> 
        <td>12:00</td>  <td>Break</td>
      </tr>
      <tr> 
        <td>12:15</td>  <td><a href="https://datacarpentry.org/python-ecology-lesson/07-visualization-ggplot-python.html">Data Visualization: Basics</a></td>
      </tr>
      <tr> 
        <td>13:00</td>  <td>Finish day one</td>
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2: September 12, 2023</h3>
    <table class="table table-striped">
     <tr>
       <td>09:00</td>  <td><a href="https://datacarpentry.org/python-ecology-lesson/07-visualization-ggplot-python.html">Data Visualization: Advanced Customization Techniques</a></td>
      </tr>
      <tr> 
        <td>10:00</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>10:15</td>  <td>Data Visualization: Advanced Customization Techniques (continued)</td> 
      </tr>
      <tr> 
        <td>11:00</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>11:15</td>  <td>Data Visualization: Advanced Customization Techniques (continued)</td> 
      </tr>
      <tr> 
        <td>12:00</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>12:15</td>  <td>Data Visualization: Advanced Customization Techniques (continued)</td> 
      </tr>
      <tr> 
        <td>1:00</td>  <td>Finish day two</td> 
      </tr>
     </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3: September 13, 2023</h3>
    <table class="table table-striped">
     <tr>
       <td>09:00</td>  <td><a href="https://carpentries-incubator.github.io/python-interactive-data-visualizations/">Interactive Data Visualizations in Python</a></td>
      </tr>
      <tr> 
        <td>10:00</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>10:15</td>  <td>Interactive Data Visualizations in Python (Continued)</td> 
      </tr>
      <tr> 
        <td>11:00</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>11:15</td>  <td>Interactive Data Visualizations in Python (Continued)</td> 
      </tr>
      <tr> 
        <td>12:00</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>12:15</td>  <td>Interactive Data Visualizations in Python (Continued)</td> 
      </tr>
      <tr> 
        <td>1:00</td>  <td>Finish day three</td> 
      </tr>
    </table>
  </div>
</div>
